/* @font-face {
  font-family: 'Acumin-RPro';
  src: url('/fonts/acumin-pro-cufonfonts/Acumin-RPro.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin-BdPro';
  src: url('/fonts/acumin-pro-cufonfonts/Acumin-BdPro.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acumin-ItPro';
  src: url('/fonts/acumin-pro-cufonfonts/Acumin-ItPro.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acumin-BdItPro';
  src: url('/fonts/acumin-pro-cufonfonts/Acumin-BdItPro.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'AcuminPro';
  src: url('/fonts/fonnts.com-AcuminPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fonnts.com-AcuminPro-Bold';
  src: url('/fonts/fonnts.com-AcuminPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Soleil';
  src: url('/fonts/soleil/fonnts.com-SoleilRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
